* {
  box-sizing: border-box;
}

body {
	background-color: #fed8b1;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: gray;
}
/*Header Start*/

.title {
	text-align: center;
	font-size: 5em;
	color: #343a40;
}

.navbar {
	color: #fd7e14;
	background-color: #343a40;
}

.nav-link, .navbar-brand {
	color: #fd7e14 !important;
	font-size: 1em;
	padding: 0px;
}

.nav-item {
	padding-right: 3px;
	padding-left: 3px;
}

.search {
	margin-bottom: 15px;
}

/* Style the search field */
.search input {
  padding: 10px;
  font-size: 17px;
  border: 2px solid #343a40;
  float: left;
  width: 80%;
  height: 40px;
  background: #fed8b1;
  color: white;
}

/* Style the submit button */
.search button {
  float: left;
  width: 20%;
  height: 40px;
  padding: 10px;
  background: #fe7f15;
  color: white;
  font-size: 17px;
  border: 2px solid #343a40;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.search button:hover {
  background: #f17111;
}

/* Clear floats */
.search::after {
  content: "";
  clear: both;
  display: table;
}

.navbar-toggler {
	border: 2px solid #fd7e14;
}

.fa-bars {
	color: #fd7e14;
}
/*Header Ends*/

/*Home Page Start*/

#main-home-tile {
	position: relative;
	margin-top: 20px;
	width: 100%;
	border: 3px solid #000;
}

#home-tile img , #main-home-tile img {
	display: block;
	width: 100%;
}

#home-tile {
	position: relative;
	margin-top: 20px;
	width: 100%;
	min-height: 2px;
	border: 3px solid #000;
}

#home-tile span , #main-home-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.sub-heading {
	color: black; 
	border-bottom: 2px solid #343a40; 
	margin-top: 15px;
}

/*Home Page Ends*/

/*Side Nav*/
.side-nav {
	margin-top: 20px;
}

.side-nav h3 {
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	color: #000;
}

.side-nav ul {
	list-style-type: none;
	font-size: 1.5em;
	padding-left: 0px;
}

.side-nav ul li {
	border-bottom: 1px solid #000;
	padding-top: 10px;
}

.side-nav a {
	color: #343a40;
	text-decoration: none;
}

.side-nav li:hover {
	background-color: #f2d0a7;
}

#latest {
	text-transform: capitalize;
}

/*Side Nav Ends*/

/*Footer Starts*/

footer {
	text-align: center;
	margin-top: 30px;
	background-color: #343a40;
	width: 100%;
	padding-top: 10px;
	color: #fd7e14;
}

footer a {
	color: #fd7e14;
}

footer span {
	font-size: 0.8em;
}

footer .row {
	margin-bottom: 20px;
	width: 100%;
}

/*Footer Ends*/

/*List Of Posts*/

#post-list {
	position: relative;
	border-bottom: 1px solid black;
	padding: 10px 10px 5px 0px;
}

#post-list img {
	float: left;
	padding-right: 10px;
	display: block;
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
}

#post-list h3 {
	text-transform: capitalize;
}

/*List of Posts Ends*/

/*Post Body*/

#post-title {
	margin-top: 15px;
	text-transform: capitalize;
	border-bottom: 2px solid black;
}

#post-img {
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

#home iframe {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*Post body ends*/

/*Media Queries*/
/*XS*/
@media (max-width: 576px) {
 	.col-xs-2 {
 		-ms-flex: 0 0 16.666667%;
    	flex: 0 0 16.666667%;
    	max-width: 16.666667%;
 	}
}
/*SM*/
@media (min-width: 576px) {
	.side-nav {
		text-align: center;
	}
}
/*MD*/
@media (min-width: 768px) {
 	#main-home-tile span {
		font-size: 2em;
	}
	#home-tile span {
		font-size: 0.9em;
	}
	.search button {
		width: 30%;
	}
	.search input {
		width: 70%;
	}
}
/*LG*/
@media (min-width: 992px) {
	#main-home-tile span {
		font-size: 3em;
	}
	#home-tile span {
		font-size: 1.2em;
	}
	.search button {
		width: 20%;
	}
	.search input {
		width: 80%;
	}
}
/*XL*/
@media (min-width: 1200px) {
 	#home iframe {
 		width: 560px; 
 		height: 315px;
 	}

}